<!-- <h1>{{title}}</h1>


<!-- <input type="text" (input)="printText($event)">
<button type="submit" [disabled]="isdisable">submit</button> -->

<!-- <input type="text" [(ngModel)]="val">
<h1>{{val}}</h1>
<h1>{{tempValue}}</h1>  -->

<!-- <input type="text" [(ngModel)]="inpVal" (input)="printDetail($event)"> -->
<!-- <br> -->
<!-- <button [disabled]="isdisable">Add</button> -->

<!-- <h1>{{inpVal}}</h1> -->

<!-- <h1>{{title}}</h1> -->
<!-- <button [disabled]="isDisable">submit</button>
 

-->
<!-- 

<h1>{{title}}</h1>

<input type="text" (input)="display($event)">


<h1>{{temp}}</h1>



<button (click)="displayInConsol()">submit</button>

<button [disabled]="temp">submit</button>
 -->
<div class="container-fluid">
  <div class="row">
    <app-header></app-header>
  </div>


  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>